h2 {
  width: 400px;
  margin: 50px 50px 0 560px;
}

#container {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
}

#container p {
  display: none;
  text-align: justify;
}